* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}



/* container holding the image and text */

.fixed-header{
    width: 1600px;
    height: 800px;
    margin: 0%;
    width: 100%;
   
}


.container{ 
    position: relative; 


}
 .text-block{ 
    position: absolute;
    padding-left: 845px;
    padding-right: 230px;
    bottom: 204px;
 }
 
 
 .header{
    text-align: right;
    font-weight: 700;
    font-size: 65px; 
    color: #151414; 
    

}
.header-item{ 
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-top: 30px;
}
.button{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
        
}
.btn-primary{ 
        font-weight: 600;
        font-size: 20px;
        background: chocolate;
        font-family: 'Work Sans';
        font-style: normal;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        width: 160px;
        height: 64px;
        left: 1210px;
        top: 578px;
        text-align: center;
}


.main-item-container{
    display: flex;
    justify-content: flex-end;
    
}
.left{
    margin: 130px 96px 130px 200px;
    width: 570px; 
    height: 723px;
    
}
  
    
.section{

    width: 433.07px;
        height: 400px;
        padding-right: 230px;
        padding-top: 400px;
       

}
.section-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
}

.list{
       font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
}
.section-title1{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #151414;
        
}
.section-title{
    font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #151414;
        padding-bottom: 50px;
}
.plan-title{
font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    padding-top: 16px;
    padding-bottom: 15px;
}
.plan-description{
font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}
.my-plan {
    margin: 130px 230px 130px 230px;
    text-align: center;
    width: 1140px;
    height: 300px;
}


#parent img{
    position: absolute;
    top: 0;
    left: 0;
}
#parent{
    padding-left: 230px;
    padding-right: 230px;
    margin: 2300px 230px 780px 230px;
}
.text1{
   
        width: 1140px;
        height: 300px;
      padding-left: 230px;
      padding-right: 230px;
      padding-bottom: 130px;
      
     
}


.section-title{
        font-weight: 700;
        font-size: 40px;
        color: #151414;
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

ul{
    list-style: inside;
}
.plan-container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 24px;  
}
.btn{
    font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        width: 160px;
        height: 64px;
        border: none;
        border-radius: 5px;
}
.text-container{
    position: relative;
    
}
.text-block1{
    position: absolute;

    

}
.text{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
text-align: center;
}


.footer-container{
    
    background: #151414;
    width: 1600px;
    height: 580px;
    margin: 0;
   display: flex;
       
}
.footer1{
    padding-top: 120px;
    padding-left: 280px;

}
.future{
        
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        color: #FFFFFF;
}
.future-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
}
.future-item1{
        padding-top: 24px;
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF; 

}
.future-item2{
    padding-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;

}
.footer2{
    padding-top: 200px;
    padding-left: 200px;

}

.icons{
   display: flex;
    gap: 30px;
   padding-top: 30px;
}
.subscribe{
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
        padding-bottom: 30px;
}
.btn1{
    width: 325px;
    height: 64px; 
   text-align: left;
   font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    background: #151414;
    border-radius: 5px;
    border-color: #FFFFFF;
    
}
.btn2{
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
    background: #F3F3F3;
    border-radius: 5px;
}

.btn-style{
    padding-bottom: 15px;
}
